<h1>How many times does your word appear in the phrase?!?!</h1>
<form action='/result'>
  <div class="form-group">
    <label for="original_word">What is your word?</label>
    <input id="original_word" name="original_word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="phrase_words">Please enter the phrase to check how many times your word appears!</label>
    <input id="phrase_words" name="phrase_words" class="form-control" type="text" placeholder="Enter phrase with spaces, not a string of words separated by comma">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
