body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

button {
  border-radius: 10px;
  border-padding: 10px;
}

img {
  border-radius: 30px;
}

.container {
  width: 80%;
  max-width: 650px;
  margin: 20px auto;
  padding: 35px;
}

.form-group {
  text-align: left;
}
